@font-face {
  font-family: nb;
  src: url('./NBInternationalProBoo.ttf');
}

@font-face {
  font-family: rejouice;
  src: url('./Rejouice-Headline.ttf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

span {
  display: flex;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
html {
  font-family: nb;
  height: auto;
  width: 100%;
}

.main {
  height: 100%;
  width: 100%;
  color: white;
  background-color: #faf8f3;
}

.main #section-1 {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.main #section-1 video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  overflow: hidden;
}
.main #section-1 .content {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.5vw 3vw 0 3vw;
  z-index: 3;
}

.main #section-1 nav {
  height: 100vh;
  width: 100%;
  position: relative;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 1.4vw;
}

.main #section-1 .heading {
  text-align: center;
  font-family: rejouice;
  font-size: 27vw;
  line-height: 27vw;
  font-weight: 100;
  color: #fffcf1;
}

/* .main #section-1 .cursor {
  height: 7.5vw;
  width: 7.5vw;
  border-radius: 50%;
  background-color: #ff5f38;
  color: #111;
  position: fixed;
  z-index: 2;
  font-size: 1vw;
  font-weight: 600;
  transform: translate(-50%, -50%); }*/

.large-txt-animation-section {
  height: 100vh;
  color: #111;
  font-family: nb;
  width: 100%;
  padding-inline: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.large-txt-animation-section p {
  overflow-y: hidden;
}

.large-txt-animation-section .divider {
  width: 0%;
  height: 0.5px;
  background-color: #111;
}
.large-txt-animation-section .top {
  font-size: 1.6vw;
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding-bottom: 1vw;
}

.large-txt-animation-section .top div:first-child {
  display: flex;
  flex-direction: column;
}

.large-txt-animation-section .content {
  font-size: 4.1vw;
  line-height: 1.18;
  display: inline-block;
  padding-top: 1vw;
}

#section-3 {
  height: 100vh;
  color: #111;
  flex-direction: column;
  gap: 1rem;
  font-size: 0.9rem;
}

#section-3 .top span {
  background-color: #111;
  color: #faf8f3;
  padding: 4px 8px;
  font-size: 9px;
  border-radius: 10px;
  margin-left: 5px;
}

#section-3 .bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all ease 10000ms;
}
#section-3 .bottom > div {
  overflow-y: hidden;
}

#section-3 .bottom p {
  width: fit-content;
  font-weight: 200;
  text-align: center;
  font-size: 4.1vw;
  position: relative;
  text-shadow: 1.5px 1.5px 0 #faf8f3, -1.5px 1.5px 0 #faf8f3,
    -1.5px -1.5px 0 #faf8f3, 1.5px -1.5px 0 #faf8f3;
  z-index: 1;
}

#section-3 .bottom p::before,
#section-3 .bottom p::after {
  transform: scaleX(1);
  content: '';
  position: absolute;
  background-color: #111;
  height: 2.8px;
  transform-origin: left;
  width: 100%;
  left: 0;
  bottom: 0.2vw;
  transition: transform 0.5s;
  transition-delay: 40ms;
  z-index: -1;
}

#section-3 .bottom:hover p::before {
  transform: scaleX(0);
  transform-origin: right center;
}

#section-3 .bottom p::after {
  transition-delay: 0ms;
  transform: scaleX(0);
  transform-origin: right;
}

#section-3 .bottom:hover p::after {
  transform: scaleX(1);
  transform-origin: left center;
  transition-delay: 80ms;
}

#section-4 {
  height: 100vh;
  padding: 0.8vw 2.7vw;
}

#section-4 .top {
  height: 10%;
  justify-content: space-between;
  font-size: 1.6vw;
  color: #111;
}

#section-4 .top div:last-child {
  gap: 1rem;
}

/* underline effect animation */
.underline {
  position: relative;
  cursor: pointer;
}

.underline::after {
  position: absolute;
  content: '';
  height: 0.8px;
  width: 100%;
  bottom: 0;
  background-color: #111;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.6s;
}

.underline:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

#section-4 .bottom {
  height: 90%;
  justify-content: space-between;
  column-gap: 10px;
}

#section-4 .bottom > div {
  flex: 1;
  background-color: antiquewhite;
  height: 100%;
  position: relative;
  justify-content: center;
  align-items: end;
}

#section-4 .bottom .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#section-4 .bottom .img-txt {
  position: absolute;
  height: 26px;
  z-index: 10;
  transform: translateY(-4rem);
}

#section-4 .bottom video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  visibility: hidden;
}

#section-4 .bottom > div:hover video {
  visibility: visible;
}

#section-5 {
  height: 100vh;
}

#section-6 {
  height: 100vh;
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  overflow: hidden;
}

#section-6 video {
  height: 150%;
  width: 150%;
}

#section-6 > svg {
  position: absolute;
  width: 30rem;
}

#section-6 .text {
  position: absolute;
  flex-direction: column;
}

#section-6 .text > div {
  font-size: 3.8rem;
  overflow-y: hidden;
  height: 72px;
}

#section-6 .text .txt-animate {
  transform: translateY(40%);
}

#section-7 {
  height: 100vh;
  background-color: #ff5f38;
}

.circle {
  opacity: 0;
  left: 0;
  top: 0;
  height: 7.5vw;
  width: 7.5vw;
  border-radius: 50%;
  background-color: #030303;
  color: #eae8e3;
  position: absolute;
  font-size: 1vw;
  font-weight: 600;
  transform: translate(-50%, -50%);
}

#section-1 .circle {
  background-color: #ff5f38;
  color: #111;
  z-index: 1;
}
