@font-face {
  font-family: nb;
  src: url('./NBInternationalProBoo.ttf');
}

@font-face {
  font-family: rejouice;
  src: url('./Rejouice-Headline.ttf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

span {
  display: flex;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
html {
  font-family: nb;
  height: auto;
  width: 100%;
}

.main {
  height: 100%;
  width: 100%;
  color: white;
  background-color: #faf8f3;
}

.main #section-1 {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.main #section-1 video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  overflow: hidden;
}
.main #section-1 .content {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.5vw 3vw 0 3vw;
  z-index: 3;
}

.main #section-1 nav {
  height: 100vh;
  width: 100%;
  position: relative;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 1.4vw;
}

.main #section-1 .heading {
  text-align: center;
  font-family: rejouice;
  font-size: 27vw;
  line-height: 27vw;
  font-weight: 100;
  color: #fffcf1;
}
.main #section-1 .heading span {
}

.main #section-1 .cursor {
  height: 7.5vw;
  width: 7.5vw;
  border-radius: 50%;
  background-color: #ff5f38;
  color: #111;
  position: fixed;
  z-index: 2;
  font-size: 1vw;
  font-weight: 600;
  transform: translate(-50%, -50%);
}

#section-2 {
  height: 100vh;
  color: #111;
  font-family: nb;
  width: 100%;
  padding: 3vw;
}

#section-2 p {
  overflow-y: hidden;
}

#section-2 .divider {
  width: 0%;
  height: 0.5px;
  background-color: #111;
}
#section-2 .top {
  padding-top: 5vw;
  font-size: 1.6vw;
  height: 16%;
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding-bottom: 1vw;
}

#section-2 .top div:first-child {
  display: flex;
  flex-direction: column;
}

#section-2 .content {
  height: 84%;
  font-size: 4.1vw;
  line-height: 1.18;
  display: inline-block;
  padding-top: 1vw;
}

#section-3 {
  height: 120vh;
  background-color: #ff5f38;
}
